body{
    color: white;
    background: linear-gradient(45deg,#ff0048,#6eff00);
}
.heading{
    width: 80%;
    font-size: 25px;
}
#camera{
    border: 2px dashed rgb(25, 0, 136);
    width: 350px;
    height: 300px;
}
#result_object_name, #result_object_accuracy, .name_of_objects{
color: rgb(25, 0, 136);
}